<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/registration/fight}" th:object="${match}" method="POST">
    <table>
        <td>User One</td>
        <td>
            <select id="userOne" required th:field="*{userOne}">
                <option th:each="userreal :${users}"
                        th:value="${userreal.getId()}"
                        th:text="${userreal.getFirstName()}">
            </select>
        </td>
        <td>
            <select id="userTwo" required th:field="*{userTwo}">
                <option th:each="userreal :${users}"
                        th:value="${userreal.getId()}"
                        th:text="${userreal.getFirstName()}">
            </select>
        </td>
    </table>
    <input type="submit" value="Save"/>
</form>
</body>
</html>
