<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="ISO-8859-1">
  <title>Novibet</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
  .navbar {
    background-color: green;
  }
</style>
<body>
<table>
  <thead>
  <tr>
    <th> Title </th>
    <th> Author </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${users.size() == 0}">
    <td colspan="2">geen users </td>
  </tr>
  <tr th:each="user : ${users}">
    <td><span th:text="${user.firstName}"> firstname </span></td>
    <td><span th:text="${user.lastName}"> lastname </span></td>
  </tr>
  </tbody>
</table>
</body>
</html>
